.navbar {
  background-color: #F8F8F8;
  position: fixed;
  top: 0;
  width: 100vw;
  border: 1px solid black;
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
    gap: 1rem;    

  width: 80%;
  margin: 1.875rem auto;
  
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: .8rem;
  }

  &__item {
    color: #706C61;
    width: 6.5rem;
    // border: 1px solid black;
    
    &:hover {
      color: #3C77B9;
      font-weight: 700;
      cursor: pointer;
    }

    &--button {
      &.logo {
          max-width: 5.063rem;
          width: 80%;
      }
    }
  }
}

.hero {
  background: url("../images/hero-banner.svg") no-repeat center / cover;
  width: 78rem;
  height: 35.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__content {    
    padding: 2rem;
  }
  
  &__title {
    color: #242424;
    margin-bottom: 0.8rem;
  }

  &__subtitle {
    color: #373636;
    font-size: 1rem;
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 0.13rem;
    margin-bottom: 2.5rem;
  }
}

.about {
  display: flex;
  background-color: #E2211C;
  color: #F8F8F8;

  &__content {
    padding: 5.44rem 3rem;
  }
  
  &__text {
    max-width: 78rem;
    text-align: justify;
  }
  
  &__title {
    margin-bottom: 4rem;
    text-transform: uppercase;
  }
  
  &__p {
    margin-bottom: 1.62rem;
    line-height: 1.625rem;
    letter-spacing: 0.025rem;
  }

  &__image {
    display: inline;
    background: url("../images/about.svg") no-repeat center / cover;
    width: 28.2rem;
    min-width: 16rem;
  }
}


@media (max-width: 840px) {
  body {
    overflow-x: hidden;
  }

  .navbar {    
    &__links {
      position: absolute;
      right: 0px;
      height: 71.9vh;
      top: 16.5vh;
      background-color: #E2211C;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding: 3rem 0;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    
    &__item {
      text-align: center;
      color: #F8F8F8;
    }
  }

  .hero {
    margin: 13rem auto 5.281rem;
    
    &__title {
      font-size: 1.8rem;
    }

    &__subtitle {
      font-size: 0.9rem;
    }
  }

}

@media (max-width: 768px) {
  .about {
    &__title {
      text-align: center;
    }
    &__image {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  .hero {
    &__title {
      font-size: 1.5rem;
    }
  }

  .about {
    &__content {
      padding: 5.44rem 1rem;
    }
  }
}

.navbar__links--active {
  transform: translateX(0%);
}

.toggle {
  & .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  & .line2 {
    opacity: 0;
  }
  & .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
